# HOME ASSIGNMENT #4: DATABASE DESIGN & SQL

**Mục đích của bài Assignment**
> *   Hiểu các bước design Database cho Case study cụ thể: DataCracy
*   Bài tập SQL (Dựa trên Cheatsheet)
*   `[Optional]` Bài tập Python Pandas (Dựa trên Cheatsheet)

**Các kiến thức áp dụng**
* Slack API, JSON to DataFrame
* Phân tích Data (Assignment#1, Lab#1)
* Database (DB) Design
* SQL
* Python Pandas

**Lời Khuyên**
* Đây là bài tập dài, nhưng thiên về hiểu case studies và thiết kế => Nên bạn **hãy bắt đầu sớm**
* **Chắc chắn là bạn đọc thực kỹ các bước hướng dẫn và tài liệu, tận dụng Slack để trao đổi**
* **Đừng sa đà vào Code của STEP 0** (bước này tương tự Assignmetn 3 về Slack API, nhưng biến đổi thêm cho phù hợp)
* **Đừng sa đà vào các tiểu tiết** => Rất quan trọng là bạn cố gắng đi đến hết `TODO#6` để hiểu bức tranh toàn cảnh và kết nối được kiến thức. Sau khi đi hết qua, các bạn có thể trở lại và nhìn cận vào các tiểu tiết
* Làm nhiều nhất có thể (Đừng quá lo lắng nếu bạn không thể hoàn thành hết)

# CONCEPT: DB Design & SQL
## **Database (DB) - Cơ sở dữ liệu**
> Là cấu trúc các nhóm data, lưu trữ trên bộ nhớ hoặc trên cloud, cho phép truy nhập để trích xuất dữ liệu bằng nhiều cách thức khác nhau

* Cấu trúc một DB phải giúp cho việc lưu trữ an toàn, tiết kiệm, linh động và bền vững. Đồng thời, việc trích xuất dữ liệu dễ dàng, nhanh chóng, và hiệu quả.
* Dạng DB đề cập trong Atom chủ yếu là **Relational Database** => Đây là dạng cấu trúc: 
  * Dữ liệu được tổ chức và lưu trữ dưới dáng bảng (tables)
  * Đặc trưng có các keys (Primary Keys - PK, Foreign Keys - FK) để biểu diễn/quy định mối quan hệ giữa các bảng. Chính nhờ các keys này, ta có thể kết nối các bảng khác nhau.
  * Việc tách dữ liệu thành các bảng giúp việc tổ chức dữ liệu được linh động, lưu trữ hiệu quả hơn. Nhưng vẫn đảm bảo việc dễ dàng kết nối các bảng bằng keys
* Ngoài ra, còn có dạng **Non-relational Database** các bạn có thể tìm hiểu thêm ([Databases 101](https://towardsdatascience.com/databases-101-introduction-to-databases-for-data-scientists-ee18c9f0785d))

## **DB Design**
> Là quá trình thiết kế và tổ chức dữ liệu theo mô hình Database. Thiết kế quy định những dữ liệu gì được lưu trữ, tổ chức các bảng được lưu trữ như thế nào, và các bảng data liên quan đến nhau ra sao. 

* **Thiết kế DB cần thoả mãn**: 
  1. Hạn chế trùng lặp trong lưu trữ thông tin
  2. Keys chỉ mối quan hệ của các bảng (PK, FK) hợp lý
  3. Kiểm tra tính đúng đắn (liên hệ keys, chất lượng data)
  4. Hỗ trợ hiệu quả nhất cho quá trình xử lý, phân tích và báo cáo

## **SQL**
* Là ngôn ngữ dùng để trích xuất, xử lý và phân tích data trên Rational Database

# CASE STUDY: DATACracy 
* **Context**: Không có doanh nghiệp hay tổ chức nào là quá nhỏ để dùng data, và bất kỳ tổ chức nào có vận hành (operation) thì nhất định sẽ sản sinh ra data, và có thể dùng data để theo dõi và cải thiện vận hành đó (Đọc: [DataCracy - Data Strategy](https://app.gitbook.com/@anhdang/s/datacracy/atom/1-data-strategy-and-metrics))
* **Hoạt động/Vận hành**: 
  * Datacracy đang vận hành lớp học mở ATOM (với 40 learners, 6 mentors, và Ban Tổ Chức)
  * Lớp học diễn ra mỗi tuần, với bài tập được gửi vào sáng Chủ Nhật và hoàn thành trước buổi học sáng T7
  * Các bạn Learners upload link (github) vào các Slack channels theo tuần (ví dụ: `#atom-assignment-1`)
  * Các hoạt động trao đổi, hướng dẫn giữa learners, mentors và BTC chủ yếu diễn ra trong tuần qua Slack


> Bản thân Datacracy cũng có vận hành và các hoạt động. Vậy hãy dùng chính mình làm case study cho việc, ta có thể tạo ra data solution siêu nhỏ, siêu rẻ cho một tổ chức quy mô siêu nhỏ như DataCracy không?

Trong **Assignment** này, chúng ta sẽ đi qua **6 bước chính** của quá trình design DB (cho case study cụ thể của DataCracy)
![Screen Shot 2021-05-23 at 01.45.40.png]()

In [1]:
!pip install duckdb

Collecting duckdb
  Downloading duckdb-0.2.6-cp38-cp38-win_amd64.whl (6.2 MB)
Requirement already satisfied: numpy>=1.14 in c:\users\phuoc.huynhtan\anaconda3\lib\site-packages (from duckdb) (1.19.2)
Installing collected packages: duckdb
Successfully installed duckdb-0.2.6

In [1]:
import requests # -> Để call API
import json # -> Xử lý file JSON
import pandas as pd # -> Thư viện xử lý dữ liệu dạng bảng
import re # -> Thư viện xử lý text: regular expressions
from datetime import datetime as dt # -> Thư viện xử lý dữ liệu thời gian
import duckdb # -> Thư viện "giả lập" xử lý dữ liệu bằng SQL
import numpy as np # -> Thư viện numpy

## STEP 0: XEM LẠI DATA ĐÃ CÓ (SLACK API)

Ở bước đầu tiên, ta xem lại tất cả các data của DATACracy Atom mà ra đã biết: 
* **Data từ Slack API**:
  * Danh sách thành viên
  * Danh sách các channels
  * Lịch sử tin nhắn trên các channels
* **Data do dự án tự collect - File CSV (trích xuất từ Google Spreadsheet)**:
  * Danh sách thành viên được phân theo vị trí (mentors, learners, BTC)


===> Các dữ liệu này lần lượt được lấy bằng code bên dưới.

In [2]:
!ls

README.md
datacracy_groups.csv
env_variable.json
home_assignment_4.ipynb

In [6]:
## Load Token file 
## WARNING!! --- Put it in gitignore and DO NOT print out to notebook
with open('env_variable.json', 'r') as j:
    json_data = json.load(j)

### 0.1. Pull List of Members

In [7]:
# 1. LIST OF SLACK MEMBERS 

## Pull list of member as JSON
## Gọi API từ Endpoints (Input - Token được đưa vào Headers)
## Challenge: Thử gọi API này bằng Postman
endpoint = "https://slack.com/api/users.list"
headers = {"Authorization": "Bearer {}".format(json_data['SLACK_BEARER_TOKEN'])}
response_json = requests.post(endpoint, headers=headers).json() 
user_dat = response_json['members']

## Convert to CSV
user_dict = {'user_id':[],'name':[],'display_name':[],'real_name':[],'title':[],'is_bot':[]}
for i in range(len(user_dat)):
  user_dict['user_id'].append(user_dat[i]['id'])
  user_dict['name'].append(user_dat[i]['name'])
  user_dict['display_name'].append(user_dat[i]['profile']['display_name'])
  user_dict['real_name'].append(user_dat[i]['profile']['real_name_normalized'])
  user_dict['title'].append(user_dat[i]['profile']['title'])
  user_dict['is_bot'].append(user_dat[i]['is_bot'])

user_df = pd.DataFrame(user_dict) 
user_df = user_df.replace('', np.nan) # -> replace khoảng trắng bằng giá trị NULL (nan)
user_df.head()

,user_id,name,display_name,real_name,title,is_bot
0,USLACKBOT,slackbot,Slackbot,Slackbot,NaN,False
1,U01AT4T75JB,loclexuan26392,Loc Le Xuan,Loc Le Xuan,NaN,False
2,U01AVDY7JET,locle.ds,Loc Le Xuan,Loc Le Xuan,NaN,False
3,U01BE2PR6LU,maianhdang.ftu,MAD,Dặng Huỳnh Mai Anh,Technical Contents,False
4,U01C48T7S1J,huyenhoang.design,Thanh Huyen Hoang,Thanh Huyen Hoang,NaN,False

In [8]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       75 non-null     object
 1   name          75 non-null     object
 2   display_name  50 non-null     object
 3   real_name     75 non-null     object
 4   title         6 non-null      object
 5   is_bot        75 non-null     bool
dtypes: bool(1), object(5)
memory usage: 3.1+ KB

### 0.2. List of Channels

In [9]:
# 2. LIST OF SLACK CHANNELS

endpoint2 = "https://slack.com/api/conversations.list"
data = {'types': 'public_channel,private_channel'} # -> CHECK: API Docs https://api.slack.com/methods/conversations.list/test
response_json = requests.post(endpoint2, headers=headers, data=data).json() 
channel_dat = response_json['channels']

channel_dict = {'channel_id':[], 'channel_name':[], 'is_channel':[],'creator':[],'created_at':[],'topics':[],'purpose':[],'num_members':[]}
for i in range(len(channel_dat)):
  channel_dict['channel_id'].append(channel_dat[i]['id'])
  channel_dict['channel_name'].append(channel_dat[i]['name'])
  channel_dict['is_channel'].append(channel_dat[i]['is_channel'])
  channel_dict['creator'].append(channel_dat[i]['creator'])
  channel_dict['created_at'].append(dt.fromtimestamp(float(channel_dat[i]['created'])))
  channel_dict['topics'].append(channel_dat[i]['topic']['value'])
  channel_dict['purpose'].append(channel_dat[i]['purpose']['value'])
  channel_dict['num_members'].append(channel_dat[i]['num_members'])

channel_df = pd.DataFrame(channel_dict) 
channel_df = channel_df.replace('', np.nan) # -> replace khoảng trắng bằng giá trị NULL (nan)
channel_df.head()

,channel_id,channel_name,is_channel,creator,created_at,topics,purpose,num_members
0,C01B4PVGLVB,general,True,U01BE2PR6LU,2020-09-23 17:25:03,NaN,This is the one channel that will always inclu...,65
1,C01BYH7JHB5,contents,True,U01BE2PR6LU,2020-10-05 14:28:09,NaN,NaN,12
2,C01CAMNCJJV,branding-design,True,U01AVDY7JET,2020-10-05 10:16:30,NaN,NaN,9
3,C01U6P7LZ8F,atom-assignment1,True,U01BE2PR6LU,2021-04-17 14:00:04,Assigment#1 - Python Basics &amp; Spreadsheet ...,Where learners submit assignments and give rev...,44
4,C01UL6K1C7L,atom-week1,True,U01BE2PR6LU,2021-04-17 00:44:32,TOPIC: Data Strategy. Metrics Design. Spreadsh...,TOPIC: Data Strategy. Metrics Design. Spreadsh...,43

In [10]:
channel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   channel_id    19 non-null     object
 1   channel_name  19 non-null     object
 2   is_channel    19 non-null     bool
 3   creator       19 non-null     object
 4   created_at    19 non-null     datetime64[ns]
 5   topics        6 non-null      object
 6   purpose       13 non-null     object
 7   num_members   19 non-null     int64
dtypes: bool(1), datetime64[ns](1), int64(1), object(5)
memory usage: 1.2+ KB

### 0.3. Message Data

In [11]:
endpoint3 = "https://slack.com/api/conversations.history"

In [12]:
msg_dict = {'channel_id':[],'msg_id':[], 'msg_ts':[], 'user_id':[], 'latest_reply':[],'reply_user_count':[],'reply_users':[],'github_link':[]}
for channel_id, channel_name in zip(channel_df['channel_id'], channel_df['channel_name']):
  print('Channel ID: {} - Channel Name: {}'.format(channel_id, channel_name))
  try:
    data = {"channel": channel_id} 
    response_json = requests.post(endpoint3, data=data, headers=headers).json()
    msg_ls = response_json['messages']
    for i in range(len(msg_ls)):
      if 'client_msg_id' in msg_ls[i].keys():
        msg_dict['channel_id'].append(channel_id)
        msg_dict['msg_id'].append(msg_ls[i]['client_msg_id'])
        msg_dict['msg_ts'].append(dt.fromtimestamp(float(msg_ls[i]['ts'])))
        msg_dict['latest_reply'].append(dt.fromtimestamp(float(msg_ls[i]['latest_reply'] if 'latest_reply' in msg_ls[i].keys() else 0))) ## -> No reply: 1970-01-01
        msg_dict['user_id'].append(msg_ls[i]['user'])
        msg_dict['reply_user_count'].append(msg_ls[i]['reply_users_count'] if 'reply_users_count' in msg_ls[i].keys() else 0)
        msg_dict['reply_users'].append(msg_ls[i]['reply_users'] if 'reply_users' in msg_ls[i].keys() else 0) 
        ## -> Censor message contains tokens
        text = msg_ls[i]['text']
        github_link = re.findall('(?:https?://)?(?:www[.])?github[.]com/[\w-]+/?', text)
        msg_dict['github_link'].append(github_link[0] if len(github_link) > 0 else np.nan)
  except:
    print('====> '+ str(response_json))

Channel ID: C01B4PVGLVB - Channel Name: general
Channel ID: C01BYH7JHB5 - Channel Name: contents
====> {'ok': False, 'error': 'not_in_channel'}
Channel ID: C01CAMNCJJV - Channel Name: branding-design
====> {'ok': False, 'error': 'not_in_channel'}
Channel ID: C01U6P7LZ8F - Channel Name: atom-assignment1
Channel ID: C01UL6K1C7L - Channel Name: atom-week1
Channel ID: C01ULCHGN75 - Channel Name: atom-general
====> {'ok': False, 'error': 'not_in_channel'}
Channel ID: C020VMT58JK - Channel Name: topics-data-analytics
Channel ID: C0213MNH9L6 - Channel Name: topics-python
Channel ID: C0213N56M2A - Channel Name: topics-materials
Channel ID: C021FSDN7LJ - Channel Name: atom-assignment2
Channel ID: C021KLB0DSB - Channel Name: discuss-group3
Channel ID: C021KLB90GP - Channel Name: discuss-group4
Channel ID: C02204B2CD6 - Channel Name: atom-week2
Channel ID: C0220KU9399 - Channel Name: discuss-group1
Channel ID: C0226D3LEQ4 - Channel Name: atom-week3
Channel ID: C0227A51SAY - Channel Name: atom-assignment3
Channel ID: C022Q7TGRLG - Channel Name: discuss-group2
Channel ID: C022RRWQ6US - Channel Name: atom-assignment4
Channel ID: C022Y1FUETE - Channel Name: atom-week4

In [13]:
msg_df = pd.DataFrame(msg_dict)
msg_df = msg_df.replace('', np.nan) # -> replace khoảng trắng bằng giá trị NULL (nan)
msg_df.tail()

,channel_id,msg_id,msg_ts,user_id,latest_reply,reply_user_count,reply_users,github_link
278,C022RRWQ6US,3db33d2a-5666-44cf-95e0-dd33aee4e63c,2021-05-24 18:49:29.003700,U01BE2PR6LU,1970-01-01 07:00:00.000000,0,0,NaN
279,C022RRWQ6US,8b4a2ebb-7882-402b-8339-a0b067ce5165,2021-05-23 14:58:23.003000,U01BE2PR6LU,1970-01-01 07:00:00.000000,0,0,NaN
280,C022RRWQ6US,231fad01-7083-4cd0-b6b6-e97bf54779e2,2021-05-23 06:23:13.001400,U01BE2PR6LU,1970-01-01 07:00:00.000000,0,0,https://github.com/anhdanggit/
281,C022Y1FUETE,ee582f3d-c339-4d06-a263-b71c6470e647,2021-05-24 18:49:57.001000,U01BE2PR6LU,1970-01-01 07:00:00.000000,0,0,NaN
282,C022Y1FUETE,38adf48f-21cc-437c-9ad3-31cd002bc4f8,2021-05-23 14:58:05.001500,U01BE2PR6LU,2021-05-23 23:15:45.002200,1,[U01VB632FPS],NaN

In [14]:
msg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   channel_id        283 non-null    object
 1   msg_id            283 non-null    object
 2   msg_ts            283 non-null    datetime64[ns]
 3   user_id           283 non-null    object
 4   latest_reply      283 non-null    datetime64[ns]
 5   reply_user_count  283 non-null    int64
 6   reply_users       283 non-null    object
 7   github_link       112 non-null    object
dtypes: datetime64[ns](2), int64(1), object(5)
memory usage: 17.8+ KB

### 0.4. DataCracy Info
* **Data do dự án tự collect - File CSV (trích xuất từ Google Spreadsheet)**: Danh sách thành viên được phân theo vị trí (mentors, learners, BTC)
* Trong cùng folder Github `assignment_4`

In [15]:
dtc_groups = pd.read_csv('datacracy_groups.csv')
dtc_groups.head()

                name DataCracy_role
0           slackbot            BTC
1     loclexuan26392            BTC
2           locle.ds            BTC
3     maianhdang.ftu            BTC
4  huyenhoang.design            BTC

In [16]:
dtc_groups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            65 non-null     object
 1   DataCracy_role  59 non-null     object
dtypes: object(2)
memory usage: 1.1+ KB

## STEP 1: NHU CẦU & MỤC ĐÍCH
> Đặt mình vào vị trí người chủ, bạn quan tâm đến điều gì?

* Quan trọng nhất của mọi Data Solution, là bắt đầu từ nhu cầu, mục đích và câu hỏi lớn của Clients (người chủ). 
* Chính từ những câu hỏi lớn này, ta có thể khoanh vùng thông tin nào quan trọng, ta muốn đạt được điều gì?

### TODO#1: Requirements
Tự trả lời các câu hỏi sau, từ góc nhìn của bạn (đặt mình vào vị trí bạn là co-founder của dự án DataCracy): 
1. Mục đích của lớp học Atom là gì?
2. BTC sẽ quan tâm đến những chủ đề/quy trình gì để đạt được Mục Đích trong (1)?
3. Làm sao để đo lường các điểm trong (2)? => Metrics?
4. Dựa vào các data đã có như liệt kê trong `STEP 0`:
  * Chỉ dùng những data sẵn có, ta có thể đo lường và thiết kế những metrics nào bạn đã liệt kê trong (3)?
  * Tham khảo Slack API và hình dung về các thông tin DataCracy có khả năng thu thập, bạn sẽ đề xuất DataCracy thu thập thêm những thông tin gì?

In [ ]:
## Điền vào bên dưới câu trả lời của bạn
''' 
REQUIREMENTS
---
1. Mục đích của lớp học mở Atom? Cung cấp nền tảng cơ bản về dữ liệu cho 40 học viên (đa dạng background), chú trọng vào tư duy, tiếp cận thực tế và sự hiệu quả khi làm việc với dữ liệu thông qua hình thức flipped-learning để chọn 20 học viên áp dụng những kiến thức đã học được vào việc xây dựng Data Solution cho Phase 3 - SCALA.
2. Các chủ đề/quy trình BTC sẽ quan tâm để đạt được Mục đích (1)? Tuyển 40 học viên đa dạng background (Application form & Interview),Thiết kế Syllabus (Learning journey), Thiết kế Content cho các buổi học (Basic Concepts: Python, SQL, API,...), Materials (for reference), Communication Channel (for discussion), Home Assignment (for practicing & self-learning), Learner review bài tập cho nhau (flipped-learning), 20 Learner to join Phase 3.
3. Làm sao để đo lường các điểm trong (2)?
 - Đa dạng background: Application form có phần điền title về công việc (metric: Title or Department) --> đo lường được background
 - Communication channel: thông qua Slack API có thể đo lường được ví dụ một channel mỗi tuần có bao nhiêu người tham gia thấc mắc/đóng góp ý kiến (metric: distinct user_id, messages_count), một group discussion có hoạt động sôi nổi không khi đo lường số lượng messages trong tuần (metric: total_message_count, group_id)
 - Home Assignment: Đo lường thông qua việc mỗi tuần có bao nhiêu học viên nộp bài tập (metric: user_id, github_link,...), có trước deadline hay không (metric: timestamp, deadline...)
 - Learner review bài tập cho nhau: đo lường thông qua việc một người nộp bài tập đã được 2 người khác review và comment bài tập hay chưa (metric: distinct user_reply_count & user_reply_id)
- Chọn 20 learner vào phase 3: đo lường thông qua điểm bài tập về nhà, điểm danh và điểm hackathon buổi cuối cùng của phase 2.
4. Chỉ dùng những data sẵn có, ta có thể đo lường và thiết kế những metrics nào bạn đã liệt kê trong (3)?
   - Thông qua Slack API, có thể đo lường hầu hết các metrics em đã liệt kê ở trên, ngoại trừ: Background, Điểm điểm danh, Điểm            Hackathon, Điểm bài tập về nhà.
   Tham khảo Slack API và hình dung về các thông tin DataCracy có khả năng thu thập, bạn sẽ đề xuất DataCracy thu thập thêm những        thông tin gì?
   - Có thể thu thập background (metric: Title or Department) ở mục "What I do?" của Slack nhưng nên consider vì cá nhân em thấy nó      cũng không quá quan trọng.
'''

## STEP 2: TỔ CHỨC THÔNG TIN
> Thu thập và hệ thống lại các thông tin

In [17]:
## Hints: info() để check các thông tin (Column), số dòng (Count), và Data Type của mỗi cột
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       75 non-null     object
 1   name          75 non-null     object
 2   display_name  50 non-null     object
 3   real_name     75 non-null     object
 4   title         6 non-null      object
 5   is_bot        75 non-null     bool
dtypes: bool(1), object(5)
memory usage: 3.1+ KB

### TODO#2: List Down
Trả lời các câu hỏi sau: 
1. Có những thông tin gì trong các bảng data ở `STEP 0`? Ý nghĩa của mỗi trường (Column). `Hints: Đọc thêm Slack API để hiểu ý nghĩa data trả về`
2. Data Type của mỗi trường
3. Có NULL không? (Non-Null Count <> entries)

* Ta sẽ dùng công cụ: [QuickDBD](https://www.quickdatabasediagrams.com/) cho Assignment này => Tham khảo Sample lúc mở tool
* Copy điền đoạn text vào tools

![image.png]()

In [ ]:
## Điền vào bên dưới câu trả lời của bạn
## Bên dưới là ví dụ của bảng user_df (Điền tiếp các bản còn lại)
''' 
# Dtype obj: object -> string, bool, int, float
# NULL - Nếu có null count < số entries

# Ví dụ  bảng user_df 
user_df
-
user_id string
name string
display_name NULL string
real_name string
title NULL string
is_bot bool

# Điền tiếp các bản còn lại
# bảng channel_df
channel_df
-
channel_id string
channel_name string
is_channel bool
creator string
created_at datetime
topics NULL string
purpose NULL string
num_members int

# bảng msg_df
msg_df
-
channel_id string
msg_id string
msg_ts datetime
user_id string
latest_reply datetime
reply_user_count int
reply_user string
github_link NULL string

# bảng dtc_group
dtc_group
-
name string
DataCracy_role NULL string
'''

![diagram](../img/diagram.PNG)

## STEP 3: NGUYÊN TẮC CẦN ÁP DỤNG

### TODO#3: Rules & Logics
Dựa vào các kiến nghị `TODO#1` và Quan sát ở `TODO#2`, bạn có những đề xuất gì về rules trong vận hành để cải thiện thông tin và quan sát? 

#### Về mặt vận hành
> Rules gì cần áp dụng cho cách thức nhập data?

**Một số gợi ý**
1. Rules để cải thiện tỷ lệ NULL trong các bạn? (Ví dụ: Bắt buộc nhập các thông tin trên Slack? Có cần thiết không?)
2. Làm sao để xác định message nào là bài submit assigment? Message nào là review? Message vào là các nội dung không liên quan? (Ví dụ: Users để tag #submit, #review?)
3. ...

#### Về mặt data
> Logics gì cần áp dụng để kiểm tra sự hợp lý của Data?

**Một số gợi ý**
1. Hai users trùng tên?
2. Ngày latest reply > ngày post? 
3. Ngày post trong năm 2021 (sau khi dự án DataCracy thành lập)
4. Mentor Group nào sẽ chỉ post trong channel discussion của group đó?
5. ...

Bạn có thể đưa các đề xuất để đưa vào vận hành nhằm cải thiện data và giúp bạn đo lường theo dõi các metrics đã được liệt kể trong `TODO#1`

In [ ]:
## Điền vào bên dưới câu trả lời của bạn
''' 
RULES
---
1. Message gửi Assignment nên gắn #submit vì github link là chưa đủ để xem message có phải là bài submit assignment hay không --> sai lệch đi kết quả
2. Ko cần submit lại Assignment đã điều chỉnh (Last chance) --> sai lệch khi xem thông tin người nộp bài nhanh nhất/trễ nhất
3. Chỉ dùng link github để submit bài tập và không nén link github vào chữ --> ko extract được github_link để xem Learner đã submit chưa
4. Nộp Assignment week nào vào đúng Channel của week đó --> ko bị lẫn lộn giữa các channel nộp bài
'''

In [ ]:
## Điền vào bên dưới câu trả lời của bạn
''' 
LOGICS
---
1. Các PK là duy nhất và không thể bị duplicate ở mỗi table
2. Số lượng bài submit mỗi tuần <= Số lượng Learners
3. Số lượng bài được review <= Số lượng bài submit
4. Ngày tạo channel nộp bài < ngày nộp bài < ngày bài được review
'''

## STEP 4: TỔ CHỨC BẢNG - PRIMARY KEYS

In [18]:
## Hints: nunique() để check số giá trị unique của từng trường
user_df.nunique()

user_id         75
name            75
display_name    49
real_name       73
title            5
is_bot           2
dtype: int64

### TODO#4: Tables & PK
1. Nhìn lại diagram của `TODO#2` trong Quick DBD Diagram: Có bảng nào bạn nghĩ nên gộp lại, hay tách ra không? Vì sao?
2. Tìm Primary Key (PK): Unique cho từng dòng và Không NULL
> Primary Key (PK) là trường giá trị/ID unique cho mỗi dòng của bảng. Hay nói cách khác, không có hai dòng trùng lặp (duplicate ID). 
* Fun fact để nhớ: Thử tưởng tượng nếu 2 người không quen biết, có cùng Số TK Ngân hàng :((((

In [ ]:
## Copy lại phần text của TODO#2
## Đặt PK bên cạnh col bạn chọn làm PK
''' 
# Dtype obj: object -> string, bool, int, float
# NULL - Nếu có null count < số entries

# Ví dụ  bảng user_df 
user_df
-
user_id string PK
name string
display_name NULL string
real_name string
title NULL string
is_bot bool

# Điền tiếp các bản còn lại
# bảng channel_df
channel_df
-
channel_id string PK
channel_name string
is_channel bool
creator string
created_at datetime
topics NULL string
purpose NULL string
num_members int

# bảng msg_df
msg_df
-
channel_id string
msg_id string PK
msg_ts datetime
user_id string
latest_reply datetime
reply_user_count int
reply_user string
github_link NULL string

# bảng dtc_group
dtc_group
-
name string PK
DataCracy_role NULL string

## STEP 5: MỐI QUAN HỆ GIỮA CÁC BẢNG

### TODO#5: FK & Mapping
Như đã giới thiệu ở phần Concept, keys quan trọng trong Relational DB vì nó thể hiện mối quan hệ giữa các bạn, thông qua key, cho phép ta nối các bảng với nhau. 
Bây giờ ta sẽ đi tìm FK (Foreign Key):
> Foreign Key: Là các keys nằm trong một bảng để liên kết với PK trong bảng khác

1. Đâu là các ID trong bảng, nhưng không phải là PK (do thoả điều kiện unique)?
2. Các ID này dẫn đến PK nào trong các bảng còn lại?
3. Trong các key được nối với nhau, xác định kiểu quan hệ:
  * n:1 - PK ở bảng gốc lặp lại nhiều lần (nhiều dòng) ở bản chứa FK
  * 1:1 - PK ở bảng gốc chỉ nối với 1 dòng

**Ví dụ:** `channel_id string FK >- channel_df.channel_id`

In [ ]:
## Copy lại phần text của TODO#2
## Đặt FK bên cạnh col bạn chọn làm FK
## Và thể hiện mối quan hệ bằng: id >- bảng_gốc.id (FK là PK trong bảng gốc)
''' 
# Ví dụ  bảng user_df 
user_df
-
user_id PK string 
name string FK >- dtc_group.name #Rel: 1:1
display_name NULL string
real_name string
title NULL string
is_bot bool

# Điền tiếp các bản còn lại
# bảng channel_df
channel_df
-
channel_id PK string
channel_name string
is_channel bool
creator string
created_at datetime
topics NULL string
purpose NULL string
num_members int

# bảng msg_df
msg_df
-
channel_id string FK >- channel_df.channel_id #Rel: n:1
msg_id PK string
msg_ts datetime
user_id string FK >- user_df.user_id #Rel: n:1
latest_reply datetime
reply_user_count int
reply_user string
github_link NULL string

# bảng dtc_group
dtc_group
-
name PK string
DataCracy_role NULL string

## STEP 6: DIAGRAM & TEST
Sau khi làm hết `TODO#5` bạn sẽ được 1 DB Diagram như bên dưới

![diagram_with_keys](../img/diagram_with_keys.PNG)

### Test Database Design by SQL
* Để giúp các bạn làm quen với việc thao tác trên SQL, ta sử dụng thư việc duckdb, cho phép ta thao tác với Data trên Python bằng SQL: https://duckdb.org/2021/05/14/sql-on-pandas.html
* Để hiểu các code SQL bên dưới, tham khảo [SQL Basic Cheatsheet](https://learnsql.com/blog/sql-basics-cheat-sheet/), xem các phần:
  * Querying Single Table
  * Aliases 
  * Filtering
  * Querying Multiple Tables: Các dạng Join
  * Aggregation Functions

* Dựa vào DB Diagram bạn đã vẽ, sẽ giúp bạn dễ dàng theo dõi hơn trong việc join và xử lý data

In [20]:
## Đoạn code dưới join 2 bảng user_df vằ dtc_groups bằng key name => Tạo thành bảng members_df
SQL_dim_members = '''
-- Để comment trong SQL dùng -- tương đường với ## trong Python
CREATE TABLE members_df AS
SELECT 
  t1.*,
  t2.DataCracy_role
FROM user_df AS t1
JOIN dtc_groups AS t2
ON t1.name = t2.name
'''

In [21]:
con = duckdb.connect(database=':memory:', read_only=False) # -> Tạo DB connection
# create a table
con.execute(SQL_dim_members) # -> Chạy đoạn lệch SQL
con.execute("SELECT * FROM members_df LIMIT 10").fetch_df() # -> In 10 dòng đầu tiên của bảng members_df ra Dataframe

,user_id,name,display_name,real_name,title,is_bot,DataCracy_role
0,USLACKBOT,slackbot,Slackbot,Slackbot,NaN,False,BTC
1,U01AT4T75JB,loclexuan26392,Loc Le Xuan,Loc Le Xuan,NaN,False,BTC
2,U01AVDY7JET,locle.ds,Loc Le Xuan,Loc Le Xuan,NaN,False,BTC
3,U01BE2PR6LU,maianhdang.ftu,MAD,Dặng Huỳnh Mai Anh,Technical Contents,False,BTC
4,U01C48T7S1J,huyenhoang.design,Thanh Huyen Hoang,Thanh Huyen Hoang,NaN,False,BTC
5,U01CMTYB7EU,dr.tringuyenzmc,NaN,Dr Tringuyenzmc,NaN,False,BTC
6,U01GQR2FE93,khanguyenwk,NaN,Kha Nguyen,NaN,False,Volunteer
7,U01HARCHNKU,linhphan,NaN,Phan Linh,NaN,False,BTC
8,U01JQ5TUP0B,tt.thuchuyen,NaN,Tt Thuchuyen,NaN,False,BTC
9,U01JQ5U1RPV,thuongthuong.dv,NaN,Thuong Do,NaN,False,BTC

In [22]:
con.execute("SELECT * FROM channel_df LIMIT 5").fetch_df() # -> In 5 dòng đầu tiên của bảng channel_df ra Dataframe

,channel_id,channel_name,is_channel,creator,created_at,topics,purpose,num_members
0,C01B4PVGLVB,general,True,U01BE2PR6LU,2020-09-23 17:25:03,NaN,This is the one channel that will always inclu...,65
1,C01BYH7JHB5,contents,True,U01BE2PR6LU,2020-10-05 14:28:09,NaN,NaN,12
2,C01CAMNCJJV,branding-design,True,U01AVDY7JET,2020-10-05 10:16:30,NaN,NaN,9
3,C01U6P7LZ8F,atom-assignment1,True,U01BE2PR6LU,2021-04-17 14:00:04,Assigment#1 - Python Basics &amp; Spreadsheet ...,Where learners submit assignments and give rev...,44
4,C01UL6K1C7L,atom-week1,True,U01BE2PR6LU,2021-04-17 00:44:32,TOPIC: Data Strategy. Metrics Design. Spreadsh...,TOPIC: Data Strategy. Metrics Design. Spreadsh...,43

In [23]:
con.execute("SELECT * FROM msg_df LIMIT 5").fetch_df() # -> In 5 dòng đầu tiên của bảng msg_df ra Dataframe

,channel_id,msg_id,msg_ts,user_id,latest_reply,reply_user_count,reply_users,github_link
0,C01B4PVGLVB,0b9a47d9-900e-4dcf-af8f-8897e6fe6fdd,2021-05-28 22:35:27.004100,U01BE2PR6LU,1970-01-01 07:00:00.000000,0,NaN,NaN
1,C01B4PVGLVB,DEBF1A3C-17AA-4D53-AC27-1FE0884243DB,2021-05-28 20:50:27.000800,U01JQ5U1RPV,2021-05-28 20:51:51.001200,1,NaN,NaN
2,C01B4PVGLVB,48ba219d-fda8-40f2-be65-00735c058071,2021-05-25 11:59:27.000600,U01BE2PR6LU,2021-05-25 13:04:44.006500,4,NaN,NaN
3,C01B4PVGLVB,89919b55-bfe9-4c15-bf45-3021048c7c28,2021-05-24 18:49:08.061100,U01BE2PR6LU,1970-01-01 07:00:00.000000,0,NaN,NaN
4,C01B4PVGLVB,18467584-5810-4bb9-80fe-4b92af9b28d0,2021-05-23 23:26:04.057000,U01UTGT8CVA,2021-05-24 15:36:52.058100,2,NaN,NaN

In [24]:
## Đoạn code dưới: Theo từng channel, count số message (phải join với bảng channel_df để lấy tên channel)
SQL = '''
SELECT 
  t2.channel_name,
  COUNT(DISTINCT t1.msg_id) AS msg_cnt
FROM msg_df AS t1
JOIN channel_df AS t2
ON t1.channel_id = t2.channel_id
GROUP BY t2.channel_name 
ORDER BY COUNT(DISTINCT t1.msg_id) DESC
'''
con.execute(SQL).fetch_df()

        channel_name  msg_cnt
0            general       44
1   atom-assignment1       42
2   atom-assignment2       42
3   atom-assignment3       38
4     discuss-group1       32
5   atom-assignment4       23
6     discuss-group3       18
7      topics-python       13
8     discuss-group4       12
9         atom-week1        6
10    discuss-group2        6
11  topics-materials        3
12        atom-week3        2
13        atom-week4        2

In [25]:
## Đoạn code dưới: Lấy top 3 mentors post nhiều message nhất trong discuss-group của các nhóm
SQL = '''
WITH msg_cnt AS ( ------------- > (1) Chain SQL: tạo bảng tạm thời msg_cnt: count số msg theo user, theo channel
  SELECT 
    user_id,
    channel_id,
    COUNT(msg_id) AS msg_cnt
  FROM msg_df 
  GROUP BY 1, 2
)
SELECT
  t2.real_name,
  t3.channel_name,
  t1.msg_cnt,
  t2.DataCracy_role
FROM msg_cnt AS t1
JOIN members_df AS t2 ------------ > (2) Join msg_count với members_df để lấy tên và role
ON t1.user_id = t2.user_id
JOIN channel_df AS t3 --> (3) Join với channel_df để lấy tên channel
ON t1.channel_id = t3.channel_id
WHERE t2.DataCracy_role LIKE 'Mentor%' ------------- > (4) Filter Mentors
AND t3.channel_name LIKE 'discuss-group%' ---------- > (5) Filter channel discuss theo các group
ORDER BY t1.msg_cnt DESC ---------- > (6) Sẵp xếp theo số msg từ cao xuống thấp
LIMIT 3 ------------> (7) Lấy top 3
'''
con.execute(SQL).fetch_df()

           real_name    channel_name  msg_cnt DataCracy_role
0            Phu NDT  discuss-group1       11     Mentor_Gr1
1  Nguyễn Quang Long  discuss-group3       10     Mentor_Gr3
2        Thuy Nguyen  discuss-group4        4     Mentor_Gr4

### TODO#6: SQL
* Thay đổi các phần trong những đoạn code SQL trên, print kết quả để hiểu về code
* Tham khảo thêm [SQL Basic Cheatsheet](https://learnsql.com/blog/sql-basics-cheat-sheet/)
* Và, GOOGLE! + Cùng trao đổi trên Slack
* Và viết SQL để trả lời các câu hỏi sau:
```
  1. Learners groups nào hoạt động tích cực trên Slack nhất? (tính theo message count)?
  Learners nào nộp bài sớm nhất trong Assignment 1, 2, 3?
  2. Learner nào nộp bài trễ nhất trong Assignment 1, 2, 3?
  3. Learner nào chưa nộp bài Assignment 3?
  4. Learner nào chưa nộp bất kỳ 1 assignment nào?
  5. Tỷ lệ % Learner đã nộp assignment 1, 2, 3? (*giả sử có message trong channel atom-assignment, được tính là đã submit*)
  6. Tỷ lệ % Learner đã submit bài và dc review trong assignment 1, 2, 3?
  7. Learners theo Group nào có tỷ lệ % hoàn thành bài tập cao nhất?
```
* `[Optional]` Bạn có thể tự đặt thêm bất kỳ câu hỏi nào bạn quan tâm

In [26]:
# 1a. Learners groups nào hoạt động tích cực trên Slack nhất? (tính theo message count)
SQL_1A = '''
WITH user_msg AS 
(
SELECT DISTINCT t1.user_id, t1.name
, t3.DataCracy_role
, COUNT(t2.msg_id) total_msg
FROM user_df AS t1
LEFT JOIN msg_df t2 ON t1.user_id = t2.user_id
LEFT JOIN dtc_groups t3 ON t1.name = t3.name
WHERE t3.DataCracy_role LIKE 'Learner%'
GROUP BY 1,2,3
ORDER BY 4 DESC
)

SELECT DISTINCT DataCracy_role
, CAST(SUM(total_msg) AS INT) total_msg
FROM user_msg
GROUP BY 1
'''
con.execute(SQL_1A).fetch_df()

  DataCracy_role  total_msg
0    Learner_Gr1         45
1    Learner_Gr4         48
2    Learner_Gr3         38
3    Learner_Gr2         38

In [27]:
# 1b. Learners nào nộp bài sớm nhất trong Assignment 1, 2, 3
SQL_1B = '''
WITH fastest_submit AS
(
SELECT DISTINCT t1.channel_id, t2.channel_name
, MIN(msg_ts) msg_ts
FROM msg_df t1
LEFT JOIN channel_df t2 ON t1.channel_id = t2.channel_id
LEFT JOIN members_df t3 ON t1.user_id = t3.user_id
WHERE github_link IS NOT NULL
AND t2.channel_name LIKE '%assignment%'
AND t2.channel_name NOT LIKE '%assignment4'
AND t3.DataCracy_role LIKE 'Learner%'
GROUP BY 1,2
)

SELECT DISTINCT t1.channel_id, t1.channel_name, t1.msg_ts
, t2.user_id
, t3.name
, t3.DataCracy_role
, t2.github_link
FROM fastest_submit t1
LEFT JOIN msg_df t2 ON t1.msg_ts = t2.msg_ts
LEFT JOIN members_df t3 ON t2.user_id = t3.user_id
'''
con.execute(SQL_1B).fetch_df()

,channel_id,channel_name,msg_ts,user_id,name,DataCracy_role,github_link
0,C01U6P7LZ8F,atom-assignment1,2021-04-21 13:00:34.000800,U01UMJ5AQ0K,duongphannamhung,Learner_Gr1,https://github.com/duongphannamhung/
1,C021FSDN7LJ,atom-assignment2,2021-05-12 22:50:48.004000,U01UQGZHSTZ,toantran2206,Learner_Gr2,https://github.com/toantran2206/
2,C0227A51SAY,atom-assignment3,2021-05-16 19:08:08.018900,U01UTGRMGEQ,hanh.nguyenhong2511,Learner_Gr4,https://github.com/nguyenhonghanh2511/

In [42]:
SQL_1B_C2 = '''
WITH a AS
(
SELECT DISTINCT t1.channel_id, t2.channel_name
, t1.msg_ts
, t1.user_id
, t3.name
, t3.DataCracy_role
, t1.github_link
FROM msg_df t1
LEFT JOIN channel_df t2 ON t1.channel_id = t2.channel_id
LEFT JOIN members_df t3 ON t1.user_id = t3.user_id
WHERE github_link IS NOT NULL
AND t2.channel_name LIKE '%assignment%'
AND t2.channel_name NOT LIKE '%assignment4'
AND t3.DataCracy_role LIKE 'Learner%'
)

, pre AS
(
SELECT *
, RANK() OVER (PARTITION BY channel_id ORDER BY msg_ts ASC) AS rank_    -- window function
FROM a
)
SELECT * FROM pre
WHERE rank_ = 1
'''
con.execute(SQL_1B_C2).fetch_df()

,channel_id,channel_name,msg_ts,user_id,name,DataCracy_role,github_link,rank_
0,C01U6P7LZ8F,atom-assignment1,2021-04-21 13:00:34.000800,U01UMJ5AQ0K,duongphannamhung,Learner_Gr1,https://github.com/duongphannamhung/,1
1,C021FSDN7LJ,atom-assignment2,2021-05-12 22:50:48.004000,U01UQGZHSTZ,toantran2206,Learner_Gr2,https://github.com/toantran2206/,1
2,C0227A51SAY,atom-assignment3,2021-05-16 19:08:08.018900,U01UTGRMGEQ,hanh.nguyenhong2511,Learner_Gr4,https://github.com/nguyenhonghanh2511/,1

In [29]:
# 2. Learner nào nộp bài trễ nhất trong Assignment 1, 2, 3?
SQL_2 = '''
WITH lastest_submit AS
(
SELECT DISTINCT t1.channel_id, t2.channel_name
, MAX(msg_ts) msg_ts
FROM msg_df t1
LEFT JOIN channel_df t2 ON t1.channel_id = t2.channel_id
LEFT JOIN members_df t3 ON t1.user_id = t3.user_id
WHERE github_link IS NOT NULL
AND t2.channel_name LIKE '%assignment%'
AND t2.channel_name NOT LIKE '%assignment4'
AND t3.DataCracy_role LIKE 'Learner%'
GROUP BY 1,2
)

SELECT DISTINCT t1.channel_id, t1.channel_name, t1.msg_ts
, t2.user_id
, t3.name
, t3.DataCracy_role
, t2.github_link
FROM lastest_submit t1
LEFT JOIN msg_df t2 ON t1.msg_ts = t2.msg_ts
LEFT JOIN members_df t3 ON t2.user_id = t3.user_id
'''
con.execute(SQL_2).fetch_df()

,channel_id,channel_name,msg_ts,user_id,name,DataCracy_role,github_link
0,C01U6P7LZ8F,atom-assignment1,2021-05-10 11:51:46.004700,U01UJ9LG5U5,danhpcv,Learner_Gr3,https://github.com/danhpcv/
1,C021FSDN7LJ,atom-assignment2,2021-05-22 12:39:34.015500,U01UTGRMGEQ,hanh.nguyenhong2511,Learner_Gr4,https://github.com/nguyenhonghanh2511/
2,C0227A51SAY,atom-assignment3,2021-05-27 22:30:16.003200,U01USGKQ771,trang.ngo1709,Learner_Gr1,https://github.com/TrangNgo1709/

In [30]:
# 3. Learner nào chưa nộp bài Assignment 3?
SQL_3 = '''
WITH learners AS
(
SELECT DISTINCT user_id, name
, DataCracy_role
FROM members_df
WHERE DataCracy_role LIKE 'Learner%'    
)

, submit AS
(
SELECT DISTINCT t1.msg_id, t1.user_id
, t2.channel_name
, t1.github_link
FROM msg_df t1
LEFT JOIN channel_df t2 ON t1.channel_id = t2.channel_id
WHERE t1.github_link IS NOT NULL
AND t2.channel_name LIKE '%assignment3%'
)

SELECT DISTINCT t1.user_id, name
, DataCracy_role
, t2.channel_name
, t2.github_link
FROM learners t1
LEFT JOIN submit t2 ON t1.user_id = t2.user_id
WHERE t2.github_link IS NULL
'''
con.execute(SQL_3).fetch_df()

        user_id                 name DataCracy_role channel_name github_link
0   U01U6JM6LEB    hoangquocviet.208    Learner_Gr4          NaN         NaN
1   U01U8CAMGB1        huyenngoc2017    Learner_Gr1          NaN         NaN
2   U01UEJG8KHU      trangnguyen.n3t    Learner_Gr3          NaN         NaN
3   U01UJ9M5TU5       minhnguyentk95    Learner_Gr2          NaN         NaN
4   U01UMBXJLHG           nvlinh.dth    Learner_Gr1          NaN         NaN
5   U01UMC08KL2        auslyn.nguyen    Learner_Gr4          NaN         NaN
6   U01UMC0N5U2       chuviethong.vn    Learner_Gr1          NaN         NaN
7   U01UTGRP0HJ        phamtran30996    Learner_Gr3          NaN         NaN
8   U01UTGRQS9J     vukhanhlinh.3526    Learner_Gr4          NaN         NaN
9   U01VB63LRNC  nguyenhuynhanhthu94    Learner_Gr4          NaN         NaN
10  U01VB6AT4G0         letam.brando    Learner_Gr1          NaN         NaN
11  U01VBFY2E59               trangh    Learner_Gr1          NaN         NaN
12  U0233KHLM2M   vuthanhdat.contact    Learner_Gr4          NaN         NaN

In [31]:
# 4. Learner nào chưa nộp bất kỳ 1 assignment nào?
SQL_4 = '''
WITH learners AS
(
SELECT DISTINCT user_id, name
, DataCracy_role
FROM members_df
WHERE DataCracy_role LIKE 'Learner%'    
)

, submit AS
(
SELECT DISTINCT t1.msg_id, t1.user_id
, t2.channel_name
, t1.github_link
FROM msg_df t1
LEFT JOIN channel_df t2 ON t1.channel_id = t2.channel_id
WHERE t1.github_link IS NOT NULL
AND t2.channel_name LIKE '%assignment%'
)

SELECT DISTINCT t1.user_id, name
, DataCracy_role
, t2.channel_name
, t2.github_link
FROM learners t1
LEFT JOIN submit t2 ON t1.user_id = t2.user_id
WHERE t2.github_link IS NULL
'''
con.execute(SQL_4).fetch_df()

       user_id                name DataCracy_role channel_name github_link
0  U01U8CAMGB1       huyenngoc2017    Learner_Gr1          NaN         NaN
1  U01UMBXJLHG          nvlinh.dth    Learner_Gr1          NaN         NaN
2  U01VBFY2E59              trangh    Learner_Gr1          NaN         NaN
3  U0233KHLM2M  vuthanhdat.contact    Learner_Gr4          NaN         NaN

In [32]:
# 5. Tỷ lệ % Learner đã nộp assignment 1, 2, 3? (*giả sử có message trong channel atom-assignment, được tính là đã submit*)
SQL_5 = '''
WITH submit_suppose AS
(
SELECT DISTINCT t1.channel_id, t2.channel_name
, COUNT(DISTINCT t1.user_id) total_submitted
FROM msg_df t1
LEFT JOIN channel_df t2 ON t1.channel_id = t2.channel_id
LEFT JOIN members_df t3 ON t1.user_id = t3.user_id
WHERE t2.channel_name LIKE '%assignment%'
AND t2.channel_name NOT LIKE '%assignment4'
AND t3.DataCracy_role LIKE 'Learner%'
GROUP BY 1,2
HAVING COUNT(msg_id) >= 1
)

SELECT *
, (SELECT COUNT(DISTINCT user_id) FROM members_df WHERE DataCracy_role LIKE 'Learner%') total_learners
, CAST(total_submitted AS DOUBLE)*100/(SELECT CAST(COUNT(DISTINCT user_id) AS DOUBLE) FROM members_df WHERE DataCracy_role LIKE 'Learner%') percentage_submit
FROM submit_suppose
'''
con.execute(SQL_5).fetch_df()

,channel_id,channel_name,total_submitted,total_learners,percentage_submit
0,C01U6P7LZ8F,atom-assignment1,33,39,84.615385
1,C021FSDN7LJ,atom-assignment2,31,39,79.487179
2,C0227A51SAY,atom-assignment3,26,39,66.666667

In [33]:
# 6. Tỷ lệ % Learner đã submit bài và dc review trong assignment 1, 2, 3?
SQL_6 = '''
WITH submit_and_review AS
(
SELECT DISTINCT t1.msg_id, t1.user_id
, t2.channel_id
, t2.channel_name
, t1.github_link
FROM msg_df t1
LEFT JOIN channel_df t2 ON t1.channel_id = t2.channel_id
LEFT JOIN members_df t3 ON t1.user_id = t3.user_id
WHERE t1.github_link IS NOT NULL
AND t2.channel_name LIKE '%assignment%'
AND t2.channel_name NOT LIKE '%assignment4'
AND t1.reply_user_count >= 1  -- những assignment được review
AND t3.DataCracy_role LIKE 'Learner%'
)

SELECT DISTINCT channel_id, channel_name
, COUNT(DISTINCT user_id) total_submit_and_review
, (SELECT COUNT(DISTINCT user_id) FROM members_df WHERE DataCracy_role LIKE 'Learner%') total_learners
, CAST(COUNT(DISTINCT user_id) AS DOUBLE)*100/(SELECT CAST(COUNT(DISTINCT user_id) AS DOUBLE) FROM members_df WHERE DataCracy_role LIKE 'Learner%') percentage_submit_and_review
FROM submit_and_review 
GROUP BY 1,2
'''
con.execute(SQL_6).fetch_df()

,channel_id,channel_name,total_submit_and_review,total_learners,percentage_submit_and_review
0,C01U6P7LZ8F,atom-assignment1,24,39,61.538462
1,C021FSDN7LJ,atom-assignment2,29,39,74.358974
2,C0227A51SAY,atom-assignment3,15,39,38.461538

In [34]:
# 7. Learners theo Group nào có tỷ lệ % hoàn thành bài tập cao nhất?
SQL_7 = '''
WITH submit AS
(
SELECT DISTINCT t1.msg_id, t1.user_id
, t3.DataCracy_role
, t2.channel_name
, t1.github_link
FROM msg_df t1
LEFT JOIN channel_df t2 ON t1.channel_id = t2.channel_id
LEFT JOIN members_df t3 ON t1.user_id = t3.user_id
WHERE t1.github_link IS NOT NULL
AND t2.channel_name LIKE '%assignment%'
AND t2.channel_name NOT LIKE '%assignment4'
AND t3.DataCracy_role LIKE 'Learner%'
)

, total_learners_by_gr AS
(
SELECT DISTINCT DataCracy_role
, COUNT(user_id) AS total_learners_by_gr
FROM members_df
WHERE DataCracy_role LIKE 'Learner%'
GROUP BY 1
)

SELECT DISTINCT t1.DataCracy_role
, COUNT(DISTINCT t1.user_id) AS submitted
, t2.total_learners_by_gr
, CAST(COUNT(DISTINCT t1.user_id) AS DOUBLE)*100 / CAST(t2.total_learners_by_gr AS DOUBLE) percentage_submit
FROM submit t1
LEFT JOIN total_learners_by_gr t2 ON t1.DataCracy_role = t2.DataCracy_role
GROUP BY 1,3
ORDER BY 4 DESC
'''
con.execute(SQL_7).fetch_df()

  DataCracy_role  submitted  total_learners_by_gr  percentage_submit
0    Learner_Gr3          9                     9         100.000000
1    Learner_Gr2          9                     9         100.000000
2    Learner_Gr4          9                    10          90.000000
3    Learner_Gr1          8                    11          72.727273

## Pandas vs. SQL 
* Python Pandas và SQL dù là 2 ngôn ngữ khác nhau, nhưng về cách thức thao tác và chuyển đổi data thì như nhau
* Tuỳ theo từng tình huống cụ thể mà ta sẽ sử dụng Python Pandas hay SQL
* Nhưng các bước thao tác/khám phá/tổng hợp data căn bản nhất gồm:

| Thao tác   |     SQL      |  Python | SpreadSheet |
|------------|-------------|------|----------|
| Filter/Selection |  WHERE | df['col'] | Filter |
| Join Data | JOIN | .join() | - |
| Group Data |    GROUP BY   |   .groupby(col) | Pivot |
| Summarize | SUM, AVG, MIN, MAX | .sum(), .mean(), .min(), .max() | SUM, MIN, MAX |

* Tìm hiểu cách thao tác bằng Pandas. [Pandas CheatSheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) => Xem các phần:
  * **Subset(Rows & Columns)**
  * **Summarize Data**: Để làm các phép tổng hợp, thống kê
  * **Group Data**: Tương đương với Pivot trong Excel và `GROUP BY` trong SQL
  * **Combine Data**: Tương đương với `JOIN` trong SQL
  * **Plot**

In [35]:
## Ví dụ: Đoạn code (Pandas) sau làm
## 1. Group by channel_id
## 2. Count các message
## 3. Sắp xếp theo thứ tự số message từ cao xuống thấp (ascending=False)
## 4. Filter lấy Top 5
msg_df.groupby('channel_id')['msg_id'].count().sort_values(ascending=False).head(5)

channel_id
C01B4PVGLVB    44
C021FSDN7LJ    42
C01U6P7LZ8F    42
C0227A51SAY    38
C0220KU9399    32
Name: msg_id, dtype: int64

In [36]:
## Kết quả tương ứng bằng SQL
SQL = '''
  SELECT 
    channel_id,
    COUNT(msg_id) AS msg_cnt
  FROM msg_df 
  GROUP BY 1
  ORDER BY COUNT(msg_id) DESC
  LIMIT 5
'''
con.execute(SQL).fetch_df()

    channel_id  msg_cnt
0  C01B4PVGLVB       44
1  C01U6P7LZ8F       42
2  C021FSDN7LJ       42
3  C0227A51SAY       38
4  C0220KU9399       32

### TODO#7 (Optional): Pandas
* Thực hiện lại các thao tác trong `TODO#6.2` bằng Python Pandas

In [37]:
# 2. Learner nào nộp bài trễ nhất trong Assignment 1, 2, 3?
# Dùng Python pandas
step_1 = pd.merge(msg_df, channel_df, how='left', on='channel_id')
step_2 = pd.merge(step_1, user_df, how='left', on='user_id')
step_3 = pd.merge(step_2, dtc_groups, how='left', on='name')
step_4 = step_3[step_3['github_link'].notnull()]
step_5 = step_4.loc[step_4['channel_name'].str.startswith('atom-assignment')]
step_6 = step_5.loc[~step_5['channel_name'].str.startswith('atom-assignment4')]
step_7 = step_6.loc[step_6['DataCracy_role'].str.startswith('Learner')]
step_8 = step_7.groupby(['channel_id', 'channel_name'])['msg_ts'].max().reset_index()
step_9 = pd.merge(step_8, msg_df, how='left', on='msg_ts')
step_10 = pd.merge(step_9, user_df, how='left', on='user_id')
step_11 = pd.merge(step_10, dtc_groups, how='left', on='name')
final = step_11.drop(columns=['msg_id', 'latest_reply', 'channel_id_y', 'reply_user_count', 'reply_users', 'display_name', 'real_name', 'title', 'is_bot'])
final

,channel_id_x,channel_name,msg_ts,user_id,github_link,name,DataCracy_role
0,C01U6P7LZ8F,atom-assignment1,2021-05-10 11:51:46.004700,U01UJ9LG5U5,https://github.com/danhpcv/,danhpcv,Learner_Gr3
1,C021FSDN7LJ,atom-assignment2,2021-05-22 12:39:34.015500,U01UTGRMGEQ,https://github.com/nguyenhonghanh2511/,hanh.nguyenhong2511,Learner_Gr4
2,C0227A51SAY,atom-assignment3,2021-05-27 22:30:16.003200,U01USGKQ771,https://github.com/TrangNgo1709/,trang.ngo1709,Learner_Gr1

In [38]:
# 2. Learner nào nộp bài trễ nhất trong Assignment 1, 2, 3?
# Kết quả tương ứng bằng SQL
con.execute(SQL_2).fetch_df()

,channel_id,channel_name,msg_ts,user_id,name,DataCracy_role,github_link
0,C01U6P7LZ8F,atom-assignment1,2021-05-10 11:51:46.004700,U01UJ9LG5U5,danhpcv,Learner_Gr3,https://github.com/danhpcv/
1,C021FSDN7LJ,atom-assignment2,2021-05-22 12:39:34.015500,U01UTGRMGEQ,hanh.nguyenhong2511,Learner_Gr4,https://github.com/nguyenhonghanh2511/
2,C0227A51SAY,atom-assignment3,2021-05-27 22:30:16.003200,U01USGKQ771,trang.ngo1709,Learner_Gr1,https://github.com/TrangNgo1709/